@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Boostrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --fontDefault: "Nunito", sans-serif;
  --fontBanners: "Lemon", serif;
  --darkPurple: #250141;
  --veryDarkPurple: #090011;
  --white: #f2f2f2;
  --blue: #0072d8;
  --blueLight: #6ba5f2;
  --darkBlue: #010744;
}

/* Styles generals */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  color: var(--darkPurple);
}

h2 {
  font-size: 32px;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

.modal-backdrop {
  z-index: 0;
}

.btn {
  padding: 5px 50px;
  font-weight: 100;
  background-color: var(--darkPurple);
  color: var(--white);
  border-radius: 50px;
  border: 1.5px solid var(--darkPurple);
  &:hover {
    background-color: #e0e0e0;
    border: 1.5px solid var(--darkPurple);
    color: var(--darkPurple);
  }
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
  position: absolute; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #979797; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background: #311d41; /* color of the tracking area */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #979797; /* creates padding around scroll thumb */
}

/* ============== HEADER ============== */
header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

header .navbar {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}

header .navbar #hamburguer,
header .navbar label {
  display: none;
}

header .navbar img {
  width: 120px;
}

header .navbar a {
  font-weight: 600;
  color: var(--white);
  transition: 0.3s;
  &:hover {
    color: var(--blueLight);
  }
}

header .navbar .navegation {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
header .navbar .navegation .login_responsive {
  display: none;
}

/* CAMBIAN DE COLOR LA BARRA DE NAVEGACION */

/* header .navbar .navegation a{
  color: var(--darkPurple);
  &:hover {
    color: var(--blueLight);
  }
} */
 .form_modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

 .modal-content {
  border-radius: 40px;
  padding: 20px;
  border: 1px solid var(--darkPurple);
  & input,
  & input::placeholder,
  & select {
    color: var(--darkPurple);
    border-radius: 20px;
  }

  & span {
    color: var(--darkPurple);
    font-weight: 800;
  }
}
.modal-content .contenedor_buttom{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .modal-content .btn_submit {
  width: 30%;
  background-color: #317f43;
  font-weight: 500;
  border: 1px solid #317f43;
  &:hover {
    color: #008000;
    background-color: transparent;
    border: 1px solid #317f43;
  }
}



header .navbar .login {
  width: auto;
  height: auto;
  padding: 6px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border-radius: 50px;
  background-color: var(--darkPurple);
}

header .navbar .login .line {
  width: 22px;
  height: 30px;
  background-color: var(--white);
}
header .navbar .login button {
  padding: 2px 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
  background-color: #fcfcfc;
  border: none;
  &:hover {
    background-color: #e5e5e5;
    color: var(--darkPurple);
  }
}

header .navbar .login button img {
  width: 25px;
}

header .navSolo{
  width: 90%;
  background-color: #090011;
  justify-content: space-between;
}


header .navSolo .loginSolo{
  width: auto;
  height: auto;
  padding: 6px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border-radius: 50px;
  & button{
    color: var(--darkPurple);
  }
}



/* ============== FOOTER ============== */

footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  font-weight: 100;
  color: var(--white);
  padding: 40px 0;
  background-color: var(--veryDarkPurple);
}
footer img {
  max-width: 250px;
  margin-left: 40px;
}

footer .footer_content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
}

footer .footer_content i {
  font-size: 24px;
}

footer .footer_content a {
  color: var(--white);
  transition: 0.3s;
  &:hover {
    color: #b2b2b2;
  }
}

footer .footer_content .about {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
}

footer .social {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
}

footer .social .social_media {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .social .social_media .social_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .footer_content .map_content iframe {
  max-width: 350px;
  height: 200px;
}

/* ============ RESPONSIVE 768px ============*/
@media (max-width: 768px) {
  /* ============== HEADER RESPONSIVE ============== */
  header {
    height: 10%;
  }
  header .navbar {
    width: 100%;
    height: auto;
    gap: 40%;
    flex-wrap: wrap;

    margin-top: 4rem;
  }
  header .navbar .navegation,
  header .navbar .login {
    display: none;
  }
  header .navbar label {
    display: flex;
    cursor: pointer;
  }
  header .navbar a {
    color: var(--darkPurple);
  }

  header .navbar label i {
    color: var(--darkPurple);
    font-size: 35px;
    padding: 0px 10px 0px 10px;
    border: 1px solid var(--darkPurple);
    border-radius: 10px;
  }

  header .navbar #hamburguer:checked ~ .navegation .login_responsive {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }

  header .navbar #hamburguer:checked ~ .navegation {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 6rem;
    padding-top: 80px;
    position: absolute;
    z-index: 3;
    background-color: var(--white);
  }

   .form_modal {
    flex-direction: column;
    align-items: flex-start;
  }

  .form_modal  {
    width: 100%;
  }

  .form_modal  input,
  .form_modal  select {
    width: 90%;
  }
  .form_modal .btn_submit{
    width: 100%;
    
  }

  header .navbar .login {
    position: absolute;
    width: 80%;
    top: auto;
    flex-direction: column;
    background: transparent;
    gap: 5rem;
  }

  header .navbar .login .line {
    display: none;
  }

  header .navbar .login button {
    background: var(--darkPurple);
    color: var(--white);
    padding: 5px 20px;
  }

  /* ============== FOOTER RESPONSIVE ============== */

  footer {
    justify-content: center;
    align-items: center;
  }
  footer img {
    margin: 0;
  }
  footer .footer_content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  footer .footer_content .about {
    width: 80%;
    align-items: center;
  }

  footer .footer_content .social {
    flex-direction: column;
    align-items: center;
  }

  footer .footer_content .social .social_media {
    align-items: center;
  }
  footer .footer_content .map_content iframe {
    max-width: 100%;
  }
}
